::-webkit-scrollbar-track {
    background-color: #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: #303030;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html, body {
    height: 100%;
    font-size: 62.5%;
}


body{
	font-size: 1.4rem;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, p, body {
    color: #2F2F2F;
}




ul,
ol,
dl {
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.6;
    list-style-position: outside;
    margin-bottom: 1.25rem;
}

ul {
    margin: 0;
    padding: 0;
}


a {
    color: #2F2F2F;

    &:hover {
	    text-decoration: none;
	}
}

p {
    font-size: 1.4rem;
}

input[type='tel'],
input[type='password'],
input[type='email'],
input[type='text'] {
    border: 1px solid #C7C7C7;
    color: #2F2F2F;
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



input[type="checkbox"] {
    position: relative;
    margin-right: 5px;
    cursor: pointer;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    outline: none;
    margin-bottom: 0;
}

label{
    font-size: 1.2rem;
}

.select-container,
.textarea-container,
.input-container {
    padding-bottom: 20px;
    position: relative;

    input{
        margin-bottom: 0;
    }
}

.pac-target-input:not(:-webkit-autofill) {
    animation-name: endBrowserAutofill;
}

.pac-target-input:not(:-webkit-autofill) {
    animation-name: endBrowserAutofill;
}


.button {
    font-size: 1.8rem;
    text-decoration: none;
    outline: none;
    height: auto;
    top: auto;
    width: 100%;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: 400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
}


.button-ghost {
    font-size: 2.4rem;
    text-decoration: none;
    outline: none;
    height: auto;
    top: auto;
    width: 100%;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: 400;
    border: 0;
    background-color: transparent;
    color: #2F2F2F;

    &:hover {
        color: #C01C3C;
        background-color: transparent;
        text-decoration: none;
    }
}

.button-accent{
    color: white;
    background-color: #C01C3C;
}

.button-md{
    width: 100%;
    max-width: 24px;
    font-size: 1.4rem;
    height: 50px;
    line-height: 50px;
}

.button-expanded{
    display: block;
    width: 100%;
    max-width: 100% !important;
}

.wrapper{
    width:100%;

    @media only screen and (min-width:1024px){
	    margin:0 auto;
	    max-width:1130px
	}

}
.brands-list{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
    margin-bottom: 30px;

	.brand-item{
		margin: 0 20px;
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
		.brand{
			width: 50px;
			height: 50px;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}
.columns {
    padding-left: 10px;
    padding-right: 10px;
}

.button-dark {
    background-color: white;
    border: 1px solid #C01C3C;
    color: #C01C3C;

    &:focus,
	&:hover {
	    background-color: #C01C3C;
	}

}

.button-md {
    width: 100%;
    max-width: 360px;
    font-size: 1.4rem;
    height: 50px;
    line-height: 50px;
}


.header{
	@media only screen and (min-width: 1441px){
		padding-top: 400px;
	}

	@media only screen and (min-width: 1025px) and (max-width: 1440px){
		 padding-top: 400px;
	}

	@media only screen and (min-width: 641px) and (max-width: 1024px) {
	    padding-top: 190px;
	}


	@media only screen and (max-width: 640px) {
	    padding-top: 146px;
	}
}

.banner {
    height: 110%;
}

.header_background{
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    z-index: -1;
    display: flex;

    .slider_carousel,
    .banner_header{
        height: 100%;
    }
    .slider_carousel{
        background-image: url(https://cosmos.deindeal.ch/api/img?p=channels/desktop_nouvelan_21.jpg&v=1609156539);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: auto 444px;
        background-position: center 26px;
        width: 75%;
    }

    .banner_header{
        width: 35%;
        background-color: #B0012E;
    }

    @media only screen and (min-width: 1441px) {
	    background-position: center 26px;
	    background-size: auto 444px;
	    height: 444px;
	}

    @media only screen and (min-width: 1025px) and (max-width: 1440px) {
	    background-position: center 26px;
	    background-size: auto 444px;
	    height: 444px;
	}

    @media only screen and (min-width: 641px) and (max-width: 1024px){
	    background-position: center 26px;
	    background-size: auto 234px;
	    height: 234px;
	}

	@media only screen and (max-width: 640px) {
	    background-position: center 0;
	    background-size: auto 190px;
	    height: 190px;
	}

	// @media only screen and (min-width: 40.063em) {
	//     background-image: url(https://cosmos.deindeal.ch/api/img?p=channels/desktop_nouvelan_21.jpg&v=1609156539);
	// }

	// @media only screen and (max-width: 40.062em) {
	//     background-image: url(https://cosmos.deindeal.ch/api/img?p=channels/mobile_nouvelan-21.jpg&v=1609156526);
	// }
}

.header_login-block{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    padding: 3px 0px;
    height: 26px;
    background-color: white;
    z-index: 90;

    @media only screen and (max-width: 1130px) {
	    padding: 0 10px;
	}
}

.header_login-block_inner{
	margin: 0 auto;
    position: relative;

}

.header_login-block_elements {
    display: inline-block;
    font-size: 12px;
    list-style: none;
    text-align: left;
    padding-left: 0;

    li {
	    display: inline;

	    &::after {
		    content: "•";
		    padding: 0 10px;
		}

		&:last-child::after{
			content: "";
		}
	}
}

.header_menu {
    display: inline-block;
    padding-right: 0;
    text-align: right;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.header_menu_account {
    display: inline-block;

    & > * {
	    border-right: 1px solid;
	    margin-right: 10px;
	    padding-right: 10px;
	    display: inline-block;
    }
}

.header_menu_languages {
    display: inline-block;
}

@media only screen and (min-width: 641px){
	.language-switcher {
	    position: relative;
	    height: 23px;
	}
}

.language-switcher__button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    transition: none;
    line-height: 1;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: 400;
    color: #2F2F2F;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: default;


}

.language-switcher__button:active,
.language-switcher__button:focus,
.language-switcher__button:hover{
    background:none
}
.language-switcher__button:hover,
.language-switcher__button:active,
.language-switcher__button:focus{
    color:#2F2F2F
}

@media only screen and (min-width: 641px){
   	.language-switcher__button,
   	.language-switcher__flag {
	    display: inline-flex;
	    width: 100%;
	    justify-content: flex-end;
	    align-items: center;

	    &::after,
	 	&::after {
		    content: '';
		    display: block;
		    width: 20px;
		    height: 13px;
		    margin-left: 10px;
		    background-position: 0 0;
		    background-repeat: no-repeat;
		    background-size: 20px auto;

		}

		&.flag-de{
			&::after{
				background-image: url('http://static.deindeal.ch/skin/frontend/mystore/outlet_md/images/flags/de.svg');
			}
		}

		&.flag-fr{
			&::after{
				background-image: url('http://static.deindeal.ch/skin/frontend/mystore/outlet_md/images/flags/fr.svg');
			}
		}
	}
}


.language-switcher__list{
    list-style:none;

    @media only screen and (min-width:641px){
	    width:1px;
	    height:1px;
	    padding:0;
	    margin:-1px;
	    overflow:hidden;
	    clip:rect(0, 0, 0, 0);
	    border:0;
	    position:absolute;
	    right:-20px;
	    top:22px;
	    box-shadow:1px 1px 4px 0 rgba(0,0,0,0.2);
	    background-color:#F2F2F2

    }


	.language-switcher__item {
		@media only screen and (max-width: 640px){
			display: inline-block;
		}
	}


	.language-switcher__flag {
		@media only screen and (min-width: 641px) {
		    font-size: 1.4rem;
		}
		@media only screen and (min-width: 641px){
			color: #2F2F2F;
		    padding: 6px 20px;
		    font-family: 'Open Sans',arial,sans-serif;
		    font-weight: 300;
		}

		@media only screen and (max-width: 640px) {
		    font-size: 1.3rem;
		}

		@media only screen and (max-width: 640px){
		    color: #9B9B9B;
		}

	}
}

.language-switcher__list.active .language-switcher__list,
.language-switcher:hover .language-switcher__list{
    position:inherit;
    width:auto;
    height:auto;
    padding:inherit;
    margin:inherit;
    overflow:auto;
    clip:auto;
    border:inherit;
    position:absolute
}
.navigation_top-menu{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: top 250ms ease-in-out;
    top: 26px;

    @media only screen and (min-width: 641px) and (max-width: 1130px) {
        padding: 0 10px;
    }

    @media only screen and (min-width: 641px) {
        left: 0;
        right: 0;
        z-index: 80;
        margin-top: 20px;
    }

    

    .navigation_top-menu_search-cart-block{
        display: flex;
        margin-right: 65;

        @media only screen and (min-width: 641px) {
            align-items: center;
            flex-direction: row-reverse;
            justify-content: left;
            min-height: 55px;
        }

        @media only screen and (max-width: 640px) {
            align-items: flex-start;
            flex-direction: column;
        }

        .menu_checkout_content{
            @media only screen and (max-width: 640px) {
                margin-right: 10px;
            }
        }
    }
    .route-cart {
        width: 25%;
        height: 25%;
        
    }
    .my-cart {
        text-align: center;
       

        & > a {
            display: block;
            padding: 0 !important;
        }
    }

    .mini-cart_button{
        color: white;

        @media only screen and (min-width: 640px) {
            min-height: 55px;
        }
    }

}
.navigation_top-menu_button{
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    transition: none;
    line-height: 1;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: 400;
    margin-left: 10px;
    .icon{
        color: #FFF;
        @media screen and (max-width: 40em) {
            font-size: 4rem;
        }
    }
}
.search-container{
    @media only screen and (min-width: 641px) {
       
    }

    @media only screen and (max-width: 640px) {
        position: absolute;
        top: 70px;
        left: 10px;
        right: 10px;
    }

    .form{
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .search_field {
        margin: 0;
        padding: 6px;
        border-radius: 0;
        border-color: #E4E4E4;
        background-color: rgba(255,255,255,0.9);
        transition: all ease-in-out 150ms;

        &:hover,
        &:focus,
        &:focus + .search-button{
            background-color: white;
            border-top-color: #cbcbcb;
            border-bottom-color: #cbcbcb;
            border-right-color: #E4E4E4;
            border-left-color: #cbcbcb;
        }
        @media only screen and (min-width: 641px) {
            width: 343px;
        }
    }

    .search-button{
        padding: 0;
        margin: 0;
        background: none;
        border: none;
        transition: none;
        line-height: 1;
        font-family: 'Open Sans',arial,sans-serif;
        font-weight: 400;
        border-top: 1px solid #E4E4E4;
        border-right: 1px solid #E4E4E4;
        border-bottom: 1px solid #E4E4E4;
        background: rgba(255,255,255,0.9);
        padding: 6px 10px;
        height: 40px;
        line-height: 40px;
        transition: all ease-in-out 150ms;

        .icon{
            font-size: 2.4rem;
            color: #CD1D39;
        }
    }
}
.header-title{
    padding: 0;
    margin: 0;

    a{
        max-width: 100%;
        margin: 0;
        display: inline-block;

        .logo{
            @media(max-width: 640px){
                margin-left: -10px;
            }
        }
    }
}
.navigation_wrapper {
    height: 44px;

    &.fixed{
        background: white;
        transition: background .3s cubic-bezier(.08, .82, .17, 1);

        .navigation_sub-nav {
            box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%) !important;
            max-width: 100% !important;
            transition: max-width .3s cubic-bezier(.08, .82, .17, 1) !important;
        }

    }

    @media only screen and (max-width: 640px) {
	    overflow: hidden;
	}

    @media only screen and (min-width: 641px) {
	    border-bottom: 1px solid rgba(0,0,0,0.05);
	}
}
.navigation_sub-nav {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,0.05);
    border-right: 1px solid rgba(0,0,0,0.05);
    border-left: 1px solid rgba(0,0,0,0.05);
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.85)), color-stop(100% #fff));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.85) 0%, #fff 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.85) 0%, #fff 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0.85) 0%, #fff 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.85) 0%, #fff 100%);
    background-image: linear-gradient(top, rgba(255,255,255,0.85) 0%, #fff 100%);



    @media only screen and (min-width: 64.063em) and (max-width: 1140px) {
	    padding-left: 10px;
	    padding-right: 10px;
	}

	@media (min-width: 40.063em) and (max-width: 64em) {
	    padding: 0 10px;
	}

	@media screen and (max-width: 40em){
		position: relative;
	}

	.sub-nav {
	    justify-content: center;
	    padding: 0;
	    margin: 0;
	    line-height: 44px;
	    white-space: nowrap;

	    @media only screen and (min-width: 1025px) {
		    display: flex;
		}


		@media only screen and (max-width: 1024px)  {
		    overflow: auto;
		    display: block;
		    text-align: center;
		}

		@media screen and (max-width: 40em) {
		    display: block;
		    line-height: 4.5rem;
		    height: 55px;
		}


		li {


    		@media screen and (min-width: 40.063em) and (max-width: 64em){
			    padding-right: 10px;
			}

			@media screen and (max-width: 40em) {
			    margin-left: 0;
			    padding: 0;
			    float: none;
			    display: inline-block;
			    line-height: 1.4rem;
			}

			float: none;
    		display: inline-block;

    		a{
    			@media screen and (max-width: 40em) {
				    padding: 15px 15px;
				}
    			display: block;
			    position: relative;
			    padding: 0 10px;
			    color: black;
			    font-size: 1.4rem;
			    text-transform: uppercase;
			    white-space: nowrap;
			    font-family: 'Open Sans',arial,sans-serif;
			    font-weight: 400;


    		}

    		&.active{
    			a{
    				background-color: transparent;
    				color: #C01C3C;

    				&::after{
    					content: "";
					    border-bottom: 3px solid #C01C3C;
					    position: absolute;
					    bottom: 0;
					    left: 0;
					    right: 0;
    				}
    			}
    		}
		}
	}

}


.off-canvas-wrap {
    background: white;
}


.content {
	@media only screen and (min-width: 1024px){
		.wrapper {
		    margin: 0 auto;
		    max-width: 1130px;
		}
	}

	@media only screen and (min-width: 1110px){
		.wrapper {
		    padding-top: 20px;
		}
	}
}


.select-fake,
select.dd-select,
select {
    height: 40px;
    background-color: white;
    font-size: 1.4rem;
    padding: 0 40px 0 10px;
    background-image: url(data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPgo8dGl0bGU+ZHJvcGRvd248L3RpdGxlPgo8cGF0aCBkPSJNMTYgMjUuNjk5bC0xMy42OTktMTMuNjk5LTAuOTY4IDAuOTY4IDAuNDg0IDAuNDg1IDE0LjE4MyAxNC4xODEgMC4yNDMtMC4yNDEgMC4yNDEtMC4yNDMgMTQuMTgzLTE0LjE4My0wLjk2OC0wLjk2OC0wLjQ4NSAwLjQ4NC0xMy4yMTMgMTMuMjEzeiI+PC9wYXRoPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right 10px center;
    top: auto;
    margin: 0;
    outline: none;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.select-fake.select-xl,
select.dd-select.select-xl,
select.select-xl {
    display: inline-block;
    border-width: 0 0 1px 0;
    border-color: #C01C3C;
    font-size: 2.4rem;
    width: auto;
    cursor: pointer;
    padding-left: 0;
    background-size: 15px;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: 300;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.channel-filters {
    margin-bottom: 20px;
    text-align: center;

    @media only screen and (min-width: 64.063em) and (max-width: 1140px) {
	    padding: 0 10px;
	}

	@media screen and (min-width: 40.063em) and (max-width: 64em) {
	    padding-left: 20px;
	    padding-right: 20px;
	}

	@media screen and (max-width: 40em){
	    margin: 10px 0px;
	}

	span {
	    display: none;
	}

	span {
	    font-size: 2.4rem;
	    margin: 0 10px;
	    font-family: 'Playfair Display',serif;
	    font-weight: 400;
	}

	.filter_default_label {
	    display: inline-block;
	}

	.select-xl{
		color: #C01C3C;
	    border-width: 0 !important;
	    font-family: 'Playfair Display',serif !important;
	    font-weight: 400 !important;

	    option {
	    	color: black;
		    font-family: 'Open Sans',arial,sans-serif;
		    font-weight: 300;
	    }
	}

	option {
	    font-size: 1.4rem;
	}
}

@media screen and (min-width: 40.063em) and (max-width: 64em){
	.channel-filters .filter_default_label,
	.channel-filters .filter_default_select {
	    font-size: 1.7rem !important;
	}
}

@media screen and (max-width: 40em){
	.channel-filters .filter_default_label,
	.channel-filters .filter_default_select {
	    font-size: 1.7rem !important;
	}
}

@media only screen and (max-device-width: 768px){
	.off-canvas-wrap .content .select-xl {
	    margin-right: 3px;
	    font-size: 1.7rem;
	}

}

.wrapper-current-sales{
	@media only screen and (min-width: 64.063em) and (max-width: 1140px) {
	    padding: 0 10px;
	}

	@media screen and (min-width: 40.063em) and (max-width: 64em){
	    padding: 0 20px;
	}
}

.current-sales  {
	.container-sales{
		margin: 0 -1.1rem;

		& > li {
		    padding: 1.1rem 1.1rem 1.1rem;
		}
	}

}

.sale{
	position: relative;
    border: 1px solid #D8D8D8;
    z-index: 1;
    text-align: left;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: 400;

    .sale a {
	    color: #2F2F2F;
	}
}
.table {
    border: 0;
    margin-bottom: 0;

    tr{
        border-bottom: 1px solid #D8D8D8;

        td {
            font-size: 1.4rem;
            color: #2F2F2F;
            line-height: normal;
            padding: 10px 5px;
            font-family: 'Open Sans',arial,sans-serif;
            font-weight: 300;
        }
    }
}
.sale-media {
    position: relative;
    background-image: url('http://static.deindeal.ch/skin/frontend/mystore/outlet_md/images/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;

    img {
	    display: block;
	    width: 100%;
        
    }
    .img {
        float: left;
        width:  150px;
        height: 150px;
        object-fit: cover;
    }
    

	&.media-552x224{
		overflow: hidden;
	}
}

.media-552x224 {
    position: relative;

    &::before {
	    display: block;
	    content: "";
	    width: 100%;
	    padding-top: 40.57971014%;
	}

	img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	}
}

figure {
    margin: 0;
    overflow: hidden;
}

.sale-infos {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.9);
    line-height: 2.4;
    font-size: 1rem;
}

.row {
    max-width: none;
}
.nomarge {
    margin: 0 !important;
    padding: 0 !important;
}

.sale-content-expedition{
	text-align: right;
    font-style: italic;
    text-transform: uppercase;
    color: #B0012E;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: 600;
}

.a-right {
    text-align: right !important;
}

.a-center{
	text-align: center !important;
}

.sale-footer {
    text-align: left;
    padding: 0 10px;
    border-top: 1px solid #f2f2f2;
    width: 100%;
    display: table;
    vertical-align: middle;
    height: 40px;

    @media screen and (max-width: 40em) {
	    height: 35px;
	}

	& > * {
	    display: table-cell;
	    vertical-align: middle;
	}
}

.sale_title {
    font-size: 1.3rem;
    margin: 0;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    overflow: hidden;
}

.sale-content-price {
    text-align: right;
}

.small {
    font-size: 1rem;
}

.sale-content-price  {
	span:first-child{
		vertical-align: bottom;
	}
}

.sale-percent {
    color: #C01C3C;
    font-size: 2.2rem;
    line-height: 1;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: 600;

    @media screen and (max-width: 40em){
    	font-size: 1.6rem;
    }
}

.footer {
    background-color: #FAFAFA;
    padding: 20px 0 0;
    margin-top: 40px;
    border-top: 1px solid #D8D8D8;

    @media screen and (max-width: 40em) {
	    padding: 10px;
	    text-align: center;
	}

    .columns{
    	padding: 0;
    }

    h5 {
	    font-size: 1.4rem;
	    font-weight: normal;
	    margin-bottom: 20px;
	    font-family: 'Open Sans',arial,sans-serif;
	    font-weight: 600;

	    @media screen and (max-width: 40em) {
		    margin-top: 20px;
		}
	}

	ul {
	    font-size: 1.3rem;
	    font-family: 'Open Sans',arial,sans-serif;
	    font-weight: 400;

	    li {
		    list-style-type: none;
		    margin-bottom: 10px;
		}
	}

	p {
	    font-size: 1.2rem;
	    line-height: 1.2;
	    font-family: 'Open Sans',arial,sans-serif;
	    font-weight: 300;
	}

	.apptodate {
		p{
			padding: 0 50px;
		}

	}

	.footer-social-icons {
		h5{
			font-size: 2rem;
		    color: #8C8C8C;
		    font-family: 'Open Sans',arial,sans-serif;
		    font-weight: 300;
		}

	}

	.footer-partner-area {
	    margin-top: 36px;

	    h5 {
		    font-size: 2rem;
		    color: #8C8C8C;
		    margin-bottom: 1.5rem;
		    padding: 0;
		    font-family: 'Open Sans',arial,sans-serif;
		    font-weight: 300;
		}

		p {
		    text-transform: initial;
		    margin-bottom: 1.5rem;
		}

		.button {
		    text-transform: initial;
		    width: auto;
		}
	}

	.row:last-child {
	    margin-top: 60px;

	    @media screen and (max-width: 40em) {
		    margin-top: 20px;
		}
	}

	.terms * {
	    display: inline-block;
	    margin-bottom: 0;
	    font-family: 'Open Sans',arial,sans-serif;
	    font-weight: 400;
	}

	.terms a {
	    margin-right: 20px;
	}

	.payment-container {
	    text-align: right;

	    @media screen and (max-width: 40em) {
		    margin: 20px 0;
		    text-align: center;
		}
	}

	.payment {
	    background-image: url('http://static.deindeal.ch/skin/frontend/mystore/outlet_md/images/payment.gif');
	    background-repeat: no-repeat;
	    vertical-align: middle;
	    width: 299px;
	    height: 20px;
	    display: inline-block;
	}

	.copyright-container {
	    background-color: white;
	    border-top: 1px solid #D8D8D8;
	    padding: 20px 0;
	}

	.copyright {
	    font-size: 1rem;
	}
}

.button-appstore {
    background-image: url('http://static.deindeal.ch/skin/frontend/mystore/outlet_md/images/appstore.gif');
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -5000em;
    width: 90px;
    height: 32px;
    background-color: transparent;
}

.button-googleplay {
    background-image: url('http://static.deindeal.ch/skin/frontend/mystore/outlet_md/images/googleplay.gif');
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -5000em;
    width: 109px;
    height: 32px;
    background-color: transparent;
}

.footer-contact{
	display: block;

	.contact-tel {
	    font-family: 'Open Sans',arial,sans-serif;
	    font-weight: 400;
	}
}

.footer-bottom {
    padding: 25px 0 0;
}

.slide {
    display: block;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
}


.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-to{
    transform: translateY(-20px);
    opacity: 0;
}

//------------------------------------------------------------------------------Zona modal del login------------------------------------------------------------
.row-outside{
	width: 600px;  
	max-width: 100%;
	background-color: black;
}
.modal-xl {
max-width: 55% !important;

}
@media only screen and (min-width: 641px){
	.MyAddress__geolocation {
	width: 60%;
	}
}


//--------------------------------------------------------------------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------Zona de ordenes------------------------------------------------------------------
@media only screen and (min-width: 1025px)
{
    .MyOrders__table-head-row, .ReturnList__table-head-row, .ReturnRequest__table-head-row {
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
    }
}

@media only screen and (min-width: 1025px) {
    .MyOrders__table-cell-name {
        width: 25%;
    }
}
@media only screen and (min-width: 1025px) {
    .MyOrders__table-cell-details, .MyOrders__table-cell-name, .MyOrders__table-cell-shipping, .MyOrders__table-cell-status, .MyOrders__table-cell-title, .ReturnDetails__table-cell-article, .ReturnList__table-cell-name, .ReturnList__table-cell-refund, .ReturnRequest__table-cell-item {
        -webkit-justify-content: center;
        -moz-box-pack: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 1025px)
{
    .MyOrders__table-cell-details {
        width: 15%;
    }
}
@media only screen and (min-width: 1025px) 
{
    .MyOrders__table-cell-details, .MyOrders__table-cell-name, .MyOrders__table-cell-shipping, .MyOrders__table-cell-status, .MyOrders__table-cell-title, .ReturnDetails__table-cell-article, .ReturnList__table-cell-name, .ReturnList__table-cell-refund, .ReturnRequest__table-cell-item {
        -webkit-justify-content: center;
        -moz-box-pack: center;
        justify-content: center;
    }
}
@media only screen and (min-width: 1025px) {
    .MyOrders__table-cell-status {
        width: 25%;
}
}
@media only screen and (max-width: 1024px) {
    .MyOrders__filters {
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        flex-direction: column;
    }
}
@media only screen and (max-width: 1024px) {
    .MyOrders__table-head-row, .ReturnList__table-head-row, .ReturnRequest__table-head-row {
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    .MyOrders__table-cell-name {
        font-weight: 700;
        padding-bottom: 10px;
        padding-right: 65px;
        width: 100%;
    }
}
@media only screen and (max-width: 1024px)
{
    .MyOrders__table-cell-details {
        width: 50%;
    }
}

@media only screen and (max-width: 1024px) {
    .MyOrders__table-cell-status {
        width: 50%;
    }
}
@media only screen and (max-width: 1024px) {
    .MyOrders__table-cell-status {
        width: 50%;
    }
}
@media only screen and (max-width: 1024px) {
    .MyOrders__table-cell-shipping:not(:empty) {
        padding-top: 10px;
    }
}
@media only screen and (max-width: 1024px) {
    .MyOrders__table-cell-shipping {
        width: 100%;
    }
}
@media only screen and (max-width: 1024px) {
    .MyOrders__table-cell-actions {
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        justify-content: flex-end;
        position: absolute;
        width: 100%;
    }
}
@media only screen and (min-width: 1025px)
{
    .MyOrders__filters-order-type {
        width: 224px;
    }
}
//--------------------------------------------------------------------------------------------------------------------------------------------------------------
.breadcrumbs{
    background-color: transparent;
    border: 0;
    padding: 0;

    &>* {
        font-size: 1.1rem;
        line-height: 1.5;
        text-transform: none;

        a {
            color: black;
            font-weight: normal;
        }
    }

    li {
        color: black;
        font-family: 'Open Sans',arial,sans-serif;
        font-weight: 400;

        strong {
            font-family: 'Open Sans',arial,sans-serif;
            font-weight: 400;
        }

        &:last-child strong{
            font-family: 'Open Sans',arial,sans-serif;
            font-weight: 600;
        }
    }
    @media(max-width: 768px){
        margin-top: 20px;
    }
}


.sale-details{
    margin-top: 10px;

    .sale-details_container{
        text-align: left;
        padding-bottom: 40px;
        position: relative;

        @media screen and (min-width: 40.063em) and (max-width: 64em) {
            padding: 15px;
        }
    }

    .my-carousel-wrapper{
        min-height: 556px;

        @media(max-width: 768px){
            min-height: auto;
            padding-bottom: 20px;
        }
    }

    .price-box{
        border-bottom: 1px solid #D8D8D8;
        display: table;
        width: 100%;
        vertical-align: bottom;

        &>* {
            display: table-cell !important;
        }

        .my-price{
            margin: 0 10px 0 0;
            color: #2F2F2F;
            font-size: 2.4rem;
            line-height: 1;
            font-family: 'Open Sans',arial,sans-serif;
            font-weight: 600;
        }
    }

    .my-price {
        .price-label {
            display: none;
        }
    }

    .my-instead-price {
        text-decoration: line-through;
        font-size: 1.4rem;
        color: #8C8C8C;
        line-height: 1.6rem;
        font-family: 'Open Sans',arial,sans-serif;
        font-weight: 300;
        vertical-align: baseline !important;
        padding: 0 10px;
        margin: 0;
    }

    .discount-percent{
        margin-right: 20px;
        color: #C01C3C;
        font-size: 2rem;
        line-height: 1;
        font-family: 'Open Sans',arial,sans-serif;
        font-weight: 700;
    }

    [type='submit']{
        width: 100%;
        margin: 0;
    }
}

.scroll-section{
    position: relative;
    top: auto;
    width: 450px;
    left: auto;
    bottom: auto;

    @media(max-width: 1025px){
        width: 100%;
    }
}
.nomgsmall{
    @media(max-width: 768px){
        margin: 0;
    }

}
/*----------------------------------------------------------->Zona lista de producto<------------------------------------------------------------------------*/
.PsProducts__wrapper {
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    align-items: flex-start;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    position: relative;
}
.Contact, .Deals__breadcrumb, .Deals__cross-sell, .Deals__infos, .FavoriteCityPrompt, .Food .FreeShippingInfo, .Food__cities, .Food__cms-download-apps, .Food__cms-free-delivery, .Food__cms-restaurants, .FoodFilters__wrapper, .FoodTracking, .Footer__wrapper, .MyAccount__breadcrumbs, .MyAccount__wrapper, .MyGifts, .MyOrders, .MyProfile, .Product__breadcrumb, .Product__cross-sell, .Product__infos, .PsProduct__breadcrumb, .PsProducts__header, .PsProducts__wrapper, .Sales .FreeShippingInfo, .SalesFilter, .SalesList, .Search__filters--gender, .Search__filters--type, .Search__infos, .Search__no-empty, .Search__products-wrapper, .SearchAddress {
    margin-left: auto;
    margin-right: auto;
    max-width: 1130px;
    width: 100%;
}
.ProductsList {
    border-top: 1px solid #d8d8d8;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    padding: 10px 0;
}
@media only screen and (min-width: 1131px) {
    .ProductsList {
        width: 847.5px;
    }
}
.ProductsList__list {
    height: 100%!important;
    overflow: hidden!important;
}
.ProductsList__wrapper:not(.isALink) {
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    align-items: flex-start;
}
.ProductsList__wrapper {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    overflow: hidden;
}
@media only screen and (min-width: 1131px) {
    .OneProduct:not(.wide) {
        width: 255.5px;
    }
}
.OneProduct {
    border-top: 1px solid transparent;
}

.OneProduct, .OneProduct--sold-out {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    position: relative;
}

[data-look=default].Link, [data-look=default].Link__bag, [data-look=default].Link__breadcrumb, [data-look=default].Link__button, [data-look=default].Link__button-small, [data-look=default].Link__category-filtering--1, [data-look=default].Link__category-filtering--2, [data-look=default].Link__channel-menu, [data-look=default].Link__channel-menu--active, [data-look=default].Link__details, [data-look=default].Link__edit, [data-look=default].Link__facebook, [data-look=default].Link__filter-type, [data-look=default].Link__gender--female, [data-look=default].Link__gender--male, [data-look=default].Link__header-menu, [data-look=default].Link__header-sub-menu, [data-look=default].Link__instagram, [data-look=default].Link__lang-menu--de, [data-look=default].Link__lang-menu--en, [data-look=default].Link__lang-menu--fr, [data-look=default].Link__lang-menu--it, [data-look=default].Link__my-account, [data-look=default].Link__print, [data-look=default].Link__product-soldout, [data-look=default].Link__return, [data-look=default].Link__subchannel, [data-look=default].Link__twitter {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
}

.Link, .Link__header-menu, .Link__my-account, .Link__product-soldout {
    color: #2f2f2f;
    text-decoration: none;
}
.Link, .Link__bag, .Link__breadcrumb, .Link__button, .Link__button-small, .Link__category-filtering--1, .Link__category-filtering--2, .Link__channel-menu, .Link__channel-menu--active, .Link__details, .Link__edit, .Link__facebook, .Link__filter-type, .Link__gender--female, .Link__gender--male, .Link__header-menu, .Link__header-sub-menu, .Link__instagram, .Link__lang-menu--de, .Link__lang-menu--en, .Link__lang-menu--fr, .Link__lang-menu--it, .Link__my-account, .Link__print, .Link__product-soldout, .Link__return, .Link__subchannel, .Link__twitter {
    cursor: pointer;
    outline: none;
    position: relative;
}
@media only screen and (min-width: 1131px)
{
    .OneProduct__image:not(.wide) {
        height: -moz-calc(255.5px * 325/301);
        height: calc(255.5px * 325 / 301);
        width: 255.5px;
    }
}
.OneProduct__image {
    background-color: transparent;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22xMidYMid%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20r%3D%2240%22%20stroke-width%3D%2210%22%20stroke%3D%22%23c01c3c%22%20stroke-dasharray%3D%2262.83185307179586%2062.83185307179586%22%3E%3CanimateTransform%20attributeName%3D%22transform%22%20type%3D%22rotate%22%20calcMode%3D%22linear%22%20values%3D%220%2050%2050%3B360%2050%2050%22%20keyTimes%3D%220%3B1%22%20dur%3D%221s%22%20begin%3D%220s%22%20repeatCount%3D%22indefinite%22%3E%3C%2FanimateTransform%3E%3C%2Fcircle%3E%3C%2Fsvg%3E);
    background-position: 50%;
    background-repeat: no-repeat;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
}
.OneProduct__title {
    font-size: 1.3rem;
    font-weight: 600;
    height: 40px;
    overflow: hidden;
    padding: 0 10px;
}
.OneProduct__footer {
    -webkit-align-items: flex-end;
    -moz-box-align: end;
    align-items: flex-end;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 55px;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    justify-content: flex-start;
    padding: 0 10px 10px;
}
.OneProduct__crossed-out-price {
    color: #8c8c8c;
    font-size: 1.2rem;
    font-weight: 300;
    margin-right: 10px;
    text-decoration: line-through;
}
.OneProduct__crossed-out-price, .OneProduct__price {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.OneProduct__price {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 40px;
}
.OneProduct__add-to-cart-wrapper .Button__add-to-cart--icon {
    bottom: 10px;
    position: absolute;
    right: 10px;
}
.OneProduct__add-to-cart-wrapper.loading .OneProduct__quantity-selector, .OneProduct__add-to-cart-wrapper:not(:hover) .OneProduct__quantity-selector:not(.keep-open), .OneProduct__quantity-selector.hidden {
    opacity: 0;
    z-index: -1;
}

@media only screen and (min-width: 1131px) {
    .OneProduct__quantity-selector:not(.wide) {
        width: 255.5px;
    }
}

.OneProduct__quantity-selector-label {
    margin-bottom: 10px;
    text-align: right;
}
.OneProduct__quantity-selector {
    background-color: hsla(0,0%,98%,.9);
    bottom: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    right: 0;
}
.OneProduct__quantity-selector .Select {
    margin-bottom: 10px;
}
.Select {
    height: 40px;
    width: 100%;
}
@media only screen and (min-width: 1025px) {
    .Select, .Select--sales-filter, .Select--small {
        background-position: right -40px bottom -40px;
        background-size: 70px;
    }
}
.Select, .Select--sales-filter, .Select--small {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%20100%20100%22%20preserveAspectRatio%3D%22xMidYMid%22%3E%3Cpath%20fill%3D%22%232f2f2f%22%20d%3D%22M14.96%2C21.35l-8.94-8.94c-0.56-0.56-0.56-1.46%2C0-2.02c0.56-0.56%2C1.46-0.56%2C2.02%2C0L16%2C18.34l7.95-7.95c0.56-0.56%2C1.46-0.56%2C2.02%2C0c0.56%2C0.56%2C0.56%2C1.46%2C0%2C2.02l-8.16%2C8.16l-1.23%2C1.22c-0.32%2C0.32-0.85%2C0.32-1.18%2C0L14.96%2C21.35z%22%20%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    border-radius: 3px;
    padding: 0 40px 0 10px;
}

.Select, .Select--food-filter, .Select--sales-filter, .Select--small {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    font-family: inherit;
    font-size: 1.4rem;
    line-height: normal;
    margin: 0;
    outline: none;
    overflow: hidden;
    top: auto;
}
/*---------------------------------------------------------->Termina lista de producto<----------------------------------------------------------------------*/
.product-details{
    @media(max-width: 768px){
        .content-left,
            .aside-right,
        .description{
            width: 100%;
        }
        .content-left,
        .description{
            padding: 10px !important;
        }
    }
}


.sale-details_title{
    font-size: 2rem;
    margin: 0 0 10px;
    font-family: 'Open Sans',arial,sans-serif;
    font-weight: 600;

    strong{
        font-family: 'Open Sans',arial,sans-serif;
        font-weight: 600;
    }
}
.sale-details_form{
    background-color: white;
    border: 1px solid #D8D8D8;
    margin-top: 30px;

    &>*:not(:first-child){
        padding: 25px 40px !important;
    }

    .price-label {
        display: none;
    }

    & > form{
        min-height: 160px;
    }
}

.sale-details_header {
    overflow: hidden;
    background-color: #FAFAFA;
    border-bottom: 1px solid #D8D8D8;
    min-height: 59px;

    p {
        color: #C01C3C;
        font-size: 1.8rem;
        line-height: 5.8rem;
        margin: 0;
    }
}

.sale-details_content-submit{
    margin-top: 20px;

}

.sale-details_shipping{
    border-top: 1px solid #D8D8D8;
    padding: 10px;
    font-size: 1.2rem;
}

.sale-details_container{
    ul{
        font-size: 1.4rem;
    }
    li{
        margin-bottom: 10px;
        list-style: none;
        font-size: 1.2rem;
        text-align: center;
    }

    p:last-child{
        margin-bottom: 0;
    }
    .teaser,
    .infos{
        display: inline-block;
    }
}

.sale-details_description{
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 20px;

    .product-detail-title{
        font-size: 2.8rem;
        border-top: 1px solid #d8d8d8;
        padding-top: 30px;
        margin-top: 40px;
        font-family: 'Open Sans',arial,sans-serif;
        font-weight: 400;
    }
}


.slider{
    max-width: 100%;
    width: 100%;
    display: flex;

    .zoom-main{
        width: 500px;
        height: 541px;

        img{
            object-fit: contain;
            object-position: center center;
        }

        span{
            border: 1px solid #D8D8D8 !important;
        }
    }

    .zoom-thumb{
        a{
            border: 1px solid #D8D8D8 !important;
        }
    }

}

.checkout-container{
    @media screen and (min-width: 40.063em) and (max-width: 64em) {
        padding: 15px;
    }

    .steps{
        border: 1px solid #4A90E2;
        border-radius: 2px;
        margin-bottom: 10px;



        @media only screen and (max-width: 40em)  {
            margin: 0;
        }

        ol {
            counter-reset: step-number;
            list-style-type: none;
            margin: 0;
            text-align: center;
            display: table;
            width: 100%;
            table-layout: fixed;
            font-size: 1.6rem;


            li{
                position: relative;
                border: none;
                font-style: italic;
                color: #4A90E2;
                vertical-align: middle;
                display: table-cell;
                text-align: center;
                padding: 10px;

                & > * {
                    display: inline-block;
                }


                span {
                    position: relative;
                    z-index: 10;
                    display: block;
                    line-height: 1;
                    font-style: normal;
                    font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;

                    &::before{
                        content: counter(step-number);
                        counter-increment: step-number;
                        width: 4rem;
                        height: 4rem;
                        display: inline-block;
                        margin: 0 20px 0 auto;
                        line-height: 4rem;
                        color: #4A90E2;
                        text-align: center;
                        border: 1px solid #4A90E2;
                        border-radius: 50%;
                    }

                }

                @media only screen and (max-width: 40em) {
                    padding: 10px 5px;

                    span{
                        &::before{
                            content: '';
                            display: none;
                        }
                    }
                }

                &.current{
                    color: white;
                    border: none;
                    border-radius: 2px;
                    background-color: #4A90E2;

                    span{
                        &::before{
                            border-color: white;
                            color: white;
                        }
                    }
                }
            }
        }
    }


}
.checkout-container {
    .sale_title {
        font-size: 1.6rem;
    }
    .checkout_title{
        font-weight: bold;
        font-size: 2rem;
        color: #2f2f2f;
    }

    .checkout_subtitle {
        font-size: 1.6rem;
        font-weight: bold;
        color: #2f2f2f;
    }

    .checkout_expiration-time {
        margin: 0 auto;
        font-size: 1.6rem;
        font-style: italic;
        color: #C01C3C;
    }

    .panel{
        background-color: transparent;
        margin-bottom: 0;
        margin-top: 20px;
    }

    .checkout{
        .sale_title {
            white-space: inherit;
            font-weight: 600;

            @media only screen and (max-width: 40em)  {
                line-height: 1.4rem;
                margin-bottom: .5rem;
            }
        }

    }

    .cart-content__items,
    .cart-content__items {
        .item,
        .error{
            margin: .4rem 0;
        }

        .product_name {
            font-size: 1.2rem;
            font-weight: 300;
            color: #2F2F2F;
        }

    }

    .button-delete{
        padding: 0 10px;
        font-size: 2rem;
    }

    .price-box {
        margin-bottom: 0;

        tr {
            border-bottom: 0;
            background-color: #FFF;

        }
        .table{
            width: 100%;

        }
        .price-box-accent {
            color: #C01C3C;
            font-size: 1.4rem;
            line-height: 1;
            font-family: 'Open Sans',arial,sans-serif;
            font-weight: 300;
        }

        td {
            padding: 2px 0;
        }
    }

    .panel {
        background-color: transparent;
        margin-bottom: 0;
        margin-top: 20px;


        &.panel.address-shipping-billing  {
            .shipping.customer-has-addresses{
                min-height: 356px;

                @media screen and (max-width: 40em) {
                    min-height: 336px;
                }

                @media screen and (min-width: 40.063em) and (max-width: 64em) {
                    min-height: 334px;
                }
            }


            .form-section {
                p.note {
                    font-size: 1.2rem;
                    margin-bottom: 0;
                }
            }

            form.address {
                .input-container {
                    .columns{
                        display: flex;
                        min-height: 40px;

                        label{
                            align-items: center;
                            display: flex;
                            line-height: inherit;

                            span{
                                padding: 0 4px;
                            }
                        }
                    }
                }
            }

        }
    }

    select.address {
        display: inline-block;
        margin-bottom: 20px;
    }

    .button-set{
        margin-top: 30px;

        .button {
            margin: 0;
        }
    }
}

.my-checkbox-container {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    span:first-child{
        margin-right: 3px;
    }
}
